.searchForm button{
    margin-left: 1rem;
    border: 2px solid #cbc5af;
    background-color: transparent;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}
.searchForm button:hover {
    background-color: #cbc5af;
    color:black;
    border: 2px solid #cbc5af;
}

.searchForm button:focus {
    background-color: #cbc5af;
    color:black;
    border: 2px solid #cbc5af;
    outline:none;
    box-shadow:none;
}
