.searchForm button{
    margin-left: 1rem;
    border: 2px solid #663300;
    background-color: transparent;
    color: #663300;
}
.searchForm button:hover {
    background-color: #663300;
    color:white;
    border: 2px solid #663300;
}