.header {
    background-image: url("../../assets/ed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    color: black;
    width: 100%;
}

.header-text {
    padding-left: 55vw;
}